# Preprocessing Notebook

**Purpose:** Convert selected columns to numeric, handle missing values, save clean dataset for modeling.

In [1]:
import pandas as pd
from preprocessing import preprocessing_pipeline

# Load dataset
df = pd.read_csv("../data/processed/fe_customer_churn.csv")

In [2]:
# Import preprocessing utilities from the project package
# The project has been installed in editable mode (pip install -e .),
# so modules can be imported directly without modifying sys.path

# Apply preprocessing
df = preprocessing_pipeline(df)
                          
# Verify dataset after preprocessing
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   customerID                    7032 non-null   object
 1   gender                        7032 non-null   object
 2   SeniorCitizen                 7032 non-null   int64
 3   Partner                       7032 non-null   object
 4   Dependents                    7032 non-null   object
 5   tenure                        7032 non-null   int64
 6   PhoneService                  7032 non-null   object
 7   MultipleLines                 7032 non-null   object
 8   InternetService               7032 non-null   object
 9   OnlineSecurity                7032 non-null   object
 10  OnlineBackup                  7032 non-null   object
 11  DeviceProtection              7032 non-null   object
 12  TechSupport                   7032 non-null   object
 13  StreamingTV                   7032 non-null   object
 14  StreamingMovies               7032 non-null   object
 15  Contract                      7032 non-null   object
 16  PaperlessBilling              7032 non-null   object
 17  PaymentMethod                 7032 non-null   object
 18  MonthlyCharges                7032 non-null   float64
 19  TotalCharges                  7032 non-null   float64
 20  Churn                         7032 non-null   object
 21  tenure_monthly_ratio          7032 non-null   float64
 22  services_count                7032 non-null   int64
 23  contract_payment_interaction  7032 non-null   object
dtypes: float64(3), int64(3), object(18)
memory usage: 1.3+ MB

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,tenure_monthly_ratio,services_count,contract_payment_interaction
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,0.033501,1,Month-to-month_Electronic check
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,One year,No,Mailed check,56.95,1889.50,No,0.597015,3,One year_Mailed check
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,0.037140,3,Month-to-month_Mailed check
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,1.063830,3,One year_Bank transfer (automatic)
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,0.028289,1,Month-to-month_Electronic check

In [3]:
# After preprocessing, the dataset is fully numeric and model-ready.
# Save cleaned and preprocessed dataset for modeling
df.to_csv("../data/processed/clean_customer_churn.csv", index=False)